Django==1.6.8
Markdown==2.3.1
Pillow==2.4.0
Whoosh==2.5.7
django-debug-toolbar==1.2.2
django-djconfig==0.1.6
django-haystack==2.1.0
django-infinite-scroll-pagination==0.1.2
mysql-connector-python==2.0.2
pytz==2014.9
sqlparse==0.1.13
wsgiref==0.1.2
